<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Antidote.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Antidote.Settings>
      <setting name="PRD_API_HOST" serializeAs="String">
        <value>https://api.antidote-mgr.com</value>
      </setting>
      <setting name="DEV_API_HOST" serializeAs="String">
        <value>http://localhost:5000</value>
      </setting>
      <setting name="DEV_WS_HOST" serializeAs="String">
        <value>ws://localhost:8888/ws</value>
      </setting>
      <setting name="PRD_WS_HOST" serializeAs="String">
        <value>wss://ws.antidote-mgr.com/ws</value>
      </setting>
      <setting name="SENTRY_DSN" serializeAs="String">
        <value>https://b33af49b3a674168bc99bc2071dbccd7@sentry.io/1257834</value>
      </setting>
    </Antidote.Settings>
  </applicationSettings>
</configuration>